In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("train_data_haptik.csv")

In [26]:
df.head()
cols = list(df)[1:]

In [27]:
import numpy as np
df['cat'] = np.nan
for i in cols:
    for j in range(len(df)):
        if df[i][j] == 'T':
            df['cat'][j] = i
        else:
            continue

/Users/Arunabh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Arunabh/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [28]:
df.head()

,message,food,recharge,support,reminders,travel,nearby,movies,casual,other,cat
0,7am everyday,F,F,F,T,F,F,F,F,F,reminders
1,chocolate cake,T,F,F,F,F,F,F,F,F,food
2,closed mortice and tenon joint door dimentions,F,F,T,F,F,F,F,F,F,support
3,train eppo kelambum,F,F,F,F,T,F,F,F,F,travel
4,yesterday i have cancelled the flight ticket,F,F,F,F,T,F,F,F,F,travel

In [29]:
# def label_race (row):
#     if row['food'] == "T":
#         return 'food'
#     elif row['recharge'] == "T":
#         return 'recharge'
#     elif row['support'] == "T":
#         return 'support'
#     elif row['reminders'] == "T":
#         return 'reminders'
#     elif row['travel'] == "T":
#         return 'travel'
#     elif row['nearby'] == "T":
#         return 'nearby'
#     elif row['movies'] == "T":
#         return 'movies'
#     elif row['casual'] == "T":
#         return 'casual'
#     else:
#         return "other"

In [30]:
drop = list(df)[1:-1]

In [31]:
df= df.drop(drop,1)

In [32]:
df.head()

                                          message        cat
0                                    7am everyday  reminders
1                                  chocolate cake       food
2  closed mortice and tenon joint door dimentions    support
3                             train eppo kelambum     travel
4    yesterday i have cancelled the flight ticket     travel

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le = LabelEncoder()

In [35]:
df["cat"].value_counts()

travel       11479
reminders     6754
casual        6037
nearby        4208
movies        3996
other         2989
food          2419
recharge      1790
support        987
Name: cat, dtype: int64

In [22]:
df["cat"] = le.fit_transform(df["cat"])

In [24]:
df.cat.value_counts()

8    11479
6     6754
0     6037
3     4208
2     3996
4     2989
1     2419
5     1790
7      987
Name: cat, dtype: int64

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

In [58]:
# cv = CountVectorizer(stop_words="english")
tfidf = TfidfVectorizer(stop_words="english")

In [59]:
X = tfidf.fit_transform(df["message"])

In [60]:
X = X.toarray()

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [49]:
nb = MultinomialNB()

In [50]:
from sklearn.model_selection import train_test_split as tts

In [51]:
y = df["cat"]

In [52]:
X_train, X_test,y_train, y_test = tts(X,y,random_state = 42, test_size = 0.3)

In [53]:
from sklearn.metrics import classification_report, accuracy_score

In [54]:
nb.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [55]:
y_pred = nb.predict(X_test)

In [56]:
accuracy_score(y_test,y_pred)

0.7367601246105919

In [57]:
print (classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      casual       0.67      0.68      0.68      1819
        food       0.87      0.73      0.79       709
      movies       0.85      0.45      0.58      1181
      nearby       0.71      0.67      0.69      1280
       other       0.83      0.64      0.72       935
    recharge       0.82      0.71      0.76       534
   reminders       0.88      0.86      0.87      2022
     support       0.82      0.23      0.36       313
      travel       0.65      0.90      0.76      3405

   micro avg       0.74      0.74      0.74     12198
   macro avg       0.79      0.65      0.69     12198
weighted avg       0.76      0.74      0.73     12198